<head>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-10">
        <H1> องค์กร </H1>
        <hr>
        <mat-form-field>
          <mat-select placeholder="เลือกองค์กร" [(value)]="selected">
            <mat-option *ngFor="let peo of people" [value]="peo.id">
              {{peo.name}}
            </mat-option>
          </mat-select>

        </mat-form-field>
        <br>  

        <table class="table">
          <tr>
            <th width="50%">ชื่อ-สกุล</th>
            <th width="50%">ตำแหน่ง</th>
          </tr>
          <tr *ngFor="let peo of people[selected]?.member">
            <td width="50%">{{peo.name}}</td>
            <td width="50%">{{peo.position}}</td>
          </tr>
          
        </table>
      </div>
    </div>
  </div>
</body>
