<div class="container" style="width:100%">
  <br>
  <!-- <div class="row"> -->
  <!-- *ngFor="let image of gallery?.images" -->
  <h1>
    <a href="" routerLink="/mynav/gallery">
      <img id="linkPrevious" src="https://cdn4.iconfinder.com/data/icons/flat-black/512/prev.png" alt="" width="7%">
    </a>
    <span>
      รูปภาพ
    </span>
  </h1>

  <br>
  <div class="row">
  <div *ngFor="let image of gallery?.images">
      <div class="col-3">
        <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
          <img style="width:200px" src="{{image.url}}" alt="">
        </a>
        
      </div>
    


    <div id="light" class="white_content">This is the lightbox content.
      <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">
          <img src="{{image.url}}" alt="">
      </a>
    </div>
    <div id="fade" class="black_overlay"></div>
  </div>
</div>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<!-- </div> -->
