<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar style="background-color: teal; color: white">บ้านศรีไคออก</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink='/'>กลับสู่หน้าหลัก</a>
      <a mat-list-item routerLink='/mynav'>เข้าสู้หน้าหลัก</a>
      <hr>
      <a mat-list-item (click)="acc.toggle('toggle-1')">ข้อมูลทั่วไป</a>
      <a mat-list-item (click)="acc.toggle('toggle-2')">กิจกรรมและโพส</a>
      <a mat-list-item (click)="acc.toggle('toggle-3')">ประมวลภาพ</a>
      <a mat-list-item (click)="acc.toggle('toggle-4')">องค์กรในหมู่บ้าน </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: rgb(34, 34, 34); color: white">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="width: 100%;text-align: center">ข้อมูลทั้งหมด</span>
    </mat-toolbar>
  </mat-sidenav-content>

  <mat-sidenav-content class="bgfull container" style="padding-right: 13%; padding-top: 1%">
    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel id="toggle-1" title="ข้อมูลทั่วไป">
        <ng-template ngbPanelContent>
          <form class="example-form" id="formNewGeneral" name="formNewGeneral" #generalData="ngForm" (ngSubmit)="updateGeneral(generalData.value)">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="ชื่อหมู่บ้าน" value="{{general.name}}" name="name" [(ngModel)]="data.name" ngModel>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="ชื่อผู้ใหญ่บ้าน" name="namehead" value=" {{general.namehead}} " [(ngModel)]="data.namehead"
                ngModel>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="รูปภาพ" name="image" value=" {{general.image}} " [(ngModel)]="data.image" ngModel>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <textarea rows="15" matInput placeholder="ประวัติหมู่บ้าน" name="history" value=" {{general.history}} " [(ngModel)]="data.history"
                ngModel>

              </textarea>
            </mat-form-field>
            <button mat-button style="color: rgb(0, 119, 73)" type="button" (click)="saveAll()" onClick={this.handleCancel}>Save</button>
            <button mat-button disabled style="color: rgb(226, 26, 0)" type="button" onClick={this.handleCancel}>Cancel</button>
          </form>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="toggle-2" title="กิจกรรมโพส">
        <ng-template ngbPanelContent>
          <form class="example-form"  id="formNewPost" name="formNewPost" #postData="ngForm" (ngSubmit)="updateGeneral(postData.value)">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="ชื่อกิจกรรม หรือ โพส" value="" name="name" [(ngModel)]="showData.name" ngModel>
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="picker1" placeholder="Angular forms" [formControl]="date" name="timestamp" [(ngModel)]="showData.timestamp" ngModel>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="รูปภาพ" value=""  name="url" [(ngModel)]="showData.url" ngModel>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <textarea matInput rows="5" placeholder="รายละเอียด"  name="detail" [(ngModel)]="showData.detail" ngModel></textarea>
            </mat-form-field>
            <button mat-button style="color: rgb(0, 119, 73)" type="button" (click) = "savePost()" disabled="{{this.state}}" onClick={this.handleCancel}>บันทึกการเปลี่ยนแปลง</button>
            <button mat-button style="color: rgb(226, 26, 0)" type="button" onClick={this.handleCancel} disabled="{{this.state2}}" (click)="newPost()">สร้างโพสต์ใหม่</button>
            <button mat-button style="color: rgb(226, 26, 0)" type="button" onClick={this.handleCancel} (click)="reset()">เปิดการสร้างโพสต์</button>
          </form>
          <table class="table">
            <thead>
              <tr>
                <th scope="col" >#</th>
                <th scope="col" style="width: 10%">ชื่อกิจกรรม</th>
                <th scope="col" style="width: 10%">วันที่</th>
                <th scope="col" style="width: 40%">รายละเอียด</th>
                <th scope="col" style="width: 20%">รูปภาพ</th>
                <th scope="col" style="width: 10%">แก้ไข / ลบ</th>
              </tr>
            </thead>
            <tbody *ngFor="let post of this.postit;let i = index">
              <tr>
                <td scope="row" > {{i+1}} </td>
                <td > {{post.name}} </td>
                <td > {{post.timestamp}} </td>
                <td > {{post.detail}} </td>
                <td > <img style="max-width: 200px;" src="{{post.url}}" alt=""> </td>
                <td >
                  <button mat-icon-button (click)="showEdit(i)">
                      <i class="fas fa-pen-square"></i>
                  </button>
                  <button mat-icon-button (click)="delete(i)">
                      <i class="fas fa-trash-alt" style="color: orangered"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="toggle-3" title="ประมวลภาพ">
        <ng-template ngbPanelContent>

        </ng-template>
      </ngb-panel>
      <ngb-panel id="toggle-4" title="องค์กรในหมู่บ้าน">
        <ng-template ngbPanelContent>

        </ng-template>
      </ngb-panel>
    </ngb-accordion>
    <hr/>
  </mat-sidenav-content>
</mat-sidenav-container>

