<div id="people">
    <!-- <p>people side</p> -->

    <div id="adding-people">
      <form action="#">
        <fieldset>
          <legend>เพิ่มบุคลากร</legend>
          <input type="text" placeholder="ชื่อ">
          <input type="text" placeholder="สกุล">
          <input type="text" placeholder="ตำแหน่ง">
          <input type="text" placeholder="เบอร์ติดต่อ">
          <input type="submit" value="เพิ่ม">

        </fieldset>
      </form>
    </div>

    <div id="remove-people">
      <form action="#">
        <fieldset>
          <legend>แสดงรายชื่อบุคลากร</legend>
          ค้นหาชื่อ :
          <input type="text" placeholder="ชื่อ">
          <input type="submit" value="ค้นหา">
          <app-user></app-user>
        </fieldset>
      </form>
    </div>
  </div>
  <hr>