.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  background-color: rgb(241, 241, 241);
  min-width: 12%;
}
a {
  text-decoration: none;
}
.bgfull {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}