<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar style="background-color: rgb(170, 52, 125); color: white">หมู่บ้านศรีไคออก</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="" routerLink='/mynav/home' (click)="onClick('หน้าหลัก')"><i class="fas fa-home"></i>&nbsp;&nbsp;ทั่วไป</a>
      <a mat-list-item href="" routerLink='/mynav/post' (click)="onClick('กิจกรรมและโพส')"><i class="fas fa-bullhorn"></i>&nbsp;&nbsp;กิจกรรม/โพสต์</a>
      <a mat-list-item herf="" routerLink="/mynav/gallery" (click)="onClick('ประมวลภาพ')"><i class="far fa-images"></i>&nbsp;&nbsp;ประมวลภาพ</a>
      <a mat-list-item href="" routerLink='/mynav/people' (click)="onClick('องค์กรในหมู่บ้าน')"><i class="fas fa-users"></i>&nbsp;&nbsp;องค์กรในหมู่บ้าน</a>
      <hr>
      <a mat-list-item routerLink='/'><i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;&nbsp;เข้าสู้หน้าแรก</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: rgb(34, 34, 34); color: white">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="width: 100%;text-align: center">
        <h1> {{values}} </h1>
      </span>
    </mat-toolbar>
  </mat-sidenav-content>
  <mat-sidenav-content >
      <router-outlet></router-outlet>

      <!-- <app-gallery></app-gallery> -->
  </mat-sidenav-content>
</mat-sidenav-container>
