<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="accent">หมู่บ้านศรีไคออก</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="" routerLink='/mynav/home'>ทั่วไป</a>
      <a mat-list-item href="">กิจกรรม/โพสต์</a>
      <a mat-menu-item herf [matMenuTriggerFor]="menu">แกลอรี่ </a>
        <mat-menu #menu="matMenu">
          <a mat-menu-item>แกลอรี่ 1 </a>
          <a mat-menu-item>แกลอรี่ 2</a>
        </mat-menu>
      <a mat-list-item href="">องค์กรในหมู่บ้าน</a>
      <a mat-list-item href="">กิจกรรม/โพสต์</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        <h1>ทั่วไป</h1>
      </span>
    </mat-toolbar>
  </mat-sidenav-content>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <!-- หน้าทั่วไป -->
    <!-- <app-home></app-home> -->
    <!-- <app-post></app-post> -->
    <app-people>
    </app-people>
    <div class="container">
      <br>
      <div class="row">
        <div class="col-10">
          <app-gallery></app-gallery>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
