<head>

</head>

<body>
  <div class="container">
    <br>
    <div class="row">
      <div class="col-10">
<!-- 
        <h1>
          {{general.namehead}}
        </h1>
        <h1>
          {{general.image}}
        </h1>

        <h1>
          {{general.name}}
        </h1>
        <hr> -->

        <!-- content history -->
        <h1>
          ประวัติหมู่บ้าน
        </h1>
        <p style="text-indent: 2.5em">
          หมู่บ้านศรีไคออก หมู่ที่ ๔ ตำบลเมืองศรีไค อำเภอวารินชำราบ จังหวัดอุบลราชธานี อยู่ห่างจากอำเภอวารินชำราบไปทางทิศใต้ ระยะทางประมาณ
          ๑๑ กิโลเมตร ตั้งมาได้กว่า ๑๘๐ ปี โดยเมื่อประมาณ พ.ศ.๒๓๖๕ มีผู้อพยพมาจากบ้านหัวเรือ ตำบลหัวเรือ อำเภอเมือง จังหวัดอุบลราชธานี
          มาสร้างบ้านเรือนอยู่บ้านเก่าน้อย ตำบลธาตุ อยู่ได้ระยะหนึ่ง ได้แยกตัวออกมาหาที่อยู่ใหม่มาถึงทิศเหนือของลำห้วยตองแวด
          เพราะเห็นว่าอุดมสมบูรณ์ดี จึงได้ปักหลักสร้างบ้านเรือนอาศัยอยู่ประมาณ ๑๐ ครัวเรือน ต่อมามีผู้อพยพมาตั้งถิ่นฐานเพิ่ม
          จึงได้ตั้งชื่อหมู่บ้านว่า บ้านสิงไค (ภาษาภาคกลาง คือ ต้นตะไคร้ เหตุผลที่ตั้งชื่อว่าบ้านสิงไค เพราะว่าชาวบ้านที่มาตั้งบ้านเรือนอยู่บริเวณนี้ได้ปลูกพืชสวนครัวทุกครัวเรือน
          แต่ที่เจริญงอกงามดีที่สุด คือ ต้นตะไคร้ ภาษาท้องถิ่น (อีสาน) เรียกว่า หัวสิงไค จึงได้ตั้งชื่อหมู่บ้านสิงไค และเชื่อว่าหมู่บ้าจะเจริญงอกงามเหมือนต้นสิงไค
          หรือต้นตะไคร้ที่ปลูกไว้ ปี พ.ศ. ๒๔๖๓ เจ้าอาวาสวัดบ้านสิงไค ชื่อพระอาจารย์สุธีร์ คันธโชโต ได้เปลี่ยนชื่อหมู่บ้านให้ใหม่เป็น
          บ้านศรีไค ซึ่งหมายถึง ความเป็นสิริมงคลให้กับหมู่บ้าน ส่วนคำว่าศรีไคออก มีการเพิ่มคำว่าออกเนื่องจากแบ่งแยกการปกครองจั้งตั้งตำบลใหม่
          เดิมเป็นบ้านศรีไค หมี่ ๕ ตำบลคูเมือง เปลี่ยนมาเป็นตำบลเมืองศรีไค ในปี พ.ศ. ๒๕๓๒ และแยกหมู่บ้านออกเป็น ๒ หมู่บ้าน
          โดยเป็นหมู่บ้านศรีไคตก หมู่ที่ ๓ และหมู่บ้านศรีไคออกหมู่ที่ ๔ ตำบลเมืองศรีไค อำเภอวารินชำราบ จังหวัดอุบลราชธานี
          มาจนถึงปัจจุบัน มีนาย ทศพล ไกรพันธ์ เป็นผู้ใหญ่บ้านคนปัจจุบัน

        </p>
        <hr>
        <h1>ผู้ใหญ่บ้าน</h1>
        <br>
        <div class="container">
          <div style="text-align:center">
              <img src="../../../assets/head.PNG" alt="" width="30%">
          </div>
              <h4 style="text-align:center">นาย ทศพล ไกรพันธ์
                <br>ผู้ใหญ่บ้านคนปัจจุบัน
              </h4>
        </div>
        <br>
        <hr>
        <br>
        <h1>ที่ตั้งหมู่บ้าน</h1>
        <hr>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30816.579909721884!2d104.88414516761391!3d15.099333061245884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311684bfcea32787%3A0x319726d00840946c!2z4LmA4LiX4Lio4Lia4Liy4Lil4LiV4Liz4Lia4Lil4LmA4Lih4Li34Lit4LiH4Lio4Lij4Li14LmE4LiE!5e0!3m2!1sth!2sth!4v1526755934999"
          width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <br>
        <br>
        <br>
        <br>

        <br>
        <br>

      </div>
    </div>
  </div>
</body>
