<div class="container">
  <br>
  <div class="row">
    <div class="col-10">
      <h2>
        ประวัติหมู่บ้าน
      </h2>
      <p style="text-indent: 2.5em">
        {{general?.history}}

      </p>
      <hr>
      <h2>อาณาเขต</h2>
      <p> ทิศเหนือ จด บ้านหนามแท่ง หมู่ที่ ๓ ตำบลคำขวาง อำเภอวารินชำราบ</p>
      <p>ทิศใต้ จด บ้านโนนงาม หมู่ที่ ๗ ตำบลเมืองศรีไค อำเภอวารินชำราบ</p>
      <p>ทิศตะวันออก จด บ้านแมด หมู่ที่ ๕ ตำบลเมืองศรีไค อำเภอวารินชำราบ</p>
      <p>ทิศตะวันตก จด บ้านศรีไคตก หมู่ที่ ๓ ตำบลเมืองศรีไค อำเภอวารินชำราบ</p>
      <hr>
      <div class="row">
        <div class="col-6">
          <h2>รายชื่อผู้ใหญ่บ้าน</h2>
          <ul>
            <li> ๓๐ ก.ค. ๒๕๕๒ - ปัจจุยัน นายทศพล ไกรพันธ์</li>
            <li>ก.ค.๒๕๔๑ - ๓๐ ก.ค. ๒๕๕๒ นายดำรง นูคำเฮือง</li>
            <li>๒๕๓๒ - ๒๕๔๑ นายสิงห์ สายสุ้ย</li>
            <li> ๒๕๑๙ - ๒๕๓๒ นายสี ทองแท่น</li>
            <li> ๒๕๑๔ - ๒๕๑๙ กำนันอ่อน วามนตรี</li>
            <li> ๒๔๙๙ – ๒๕๑๔ นายมี วงษ์เสนา</li>
            <li>ก่อนหน้านั้น ไม่มีข้อมูล</li>
          </ul>
        </div>
        <div class="col-6">
          <div style="text-align: center">
            <img src="{{general?.image}}" alt="" width="50%">
          </div>
          <span>
            <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2Fthoasapon&layout=button_count&size=small&mobile_iframe=true&width=64&height=20&appId"
              width="64" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
              allow="encrypted-media"></iframe>
          </span>
          <span>
            <h4 style="text-align:center">{{general?.namehead}}</h4>
            <h4 style="text-align:center">ผู้ใหญ่บ้านคนปัจจุบัน</h4>
          </span>
          <br>
        </div>
      </div>
      <br>
      <br>
      <hr>
      <br>
      <h2>ที่ตั้งหมู่บ้าน</h2>
      <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30816.579909721884!2d104.88414516761391!3d15.099333061245884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311684bfcea32787%3A0x319726d00840946c!2z4LmA4LiX4Lio4Lia4Liy4Lil4LiV4Liz4Lia4Lil4LmA4Lih4Li34Lit4LiH4Lio4Lij4Li14LmE4LiE!5e0!3m2!1sth!2sth!4v1526755934999"
          width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>

