<div id="otop">
    <!-- <p>otop side</p> -->

    <form action="#">
      <fieldset>
        <legend>รายการสินค้า otop ในหมู่บ้าน</legend>
        สินค้า1...
        <a href="">แก้ไข</a>
        <a href="">ลบ</a>
        <br>
        <!-- แก้ไขชื่อสินค้า รูป ราคา ข้อมูลติดต่อ -->
        สินค้า2...
        <a href="">แก้ไข</a>
        <a href="">ลบ</a>
        <br> สินค้า3...
        <a href="">แก้ไข</a>
        <a href="">ลบ</a>
        <br> สินค้า4...
        <a href="">แก้ไข</a>
        <a href="">ลบ</a>
        <br>
      </fieldset>
      <a id="always-top" href="#genaral">always on top</a>
    </form>

  </div>