      <!-- <p>general side</p> -->
      
      <!-- end general side -->
      
      <!-- end people side -->
      <div id="gallery">
        <!-- <p>gallery side</p> -->

        <div id="all-gallery">
          <form action="#">
            <fieldset>
              <legend>แสดงอัลบั้มรูปทั้งหมด</legend>
              อัลบั้ม 1
              <br> อัลบั้ม 2
              <br> อัลบั้ม 3
              <br> อัลบั้ม 4
              <br>
            </fieldset>
          </form>
        </div>
        <div id="new-gallery">
          <form action="#">
            <fieldset>
              <legend>สร้างอัลบั้มใหม่</legend>
              ชื่ออัลบั้ม :
              <input type="text" placeholder="ชื่ออัลบั้ม">
              <br>
              <textarea name="" id="" cols="50" rows="5" placeholder="เกี่ยวกับอัลบั้ม"></textarea>
            </fieldset>
            ชื่อรูปที่อัปโหลด1 ...
            <a href="">ลบ</a>
            <br> ชื่อรูปที่อัปโหลด2 ...
            <a href="">ลบ</a>
            <br> ชื่อรูปที่อัปโหลด3 ...
            <a href="">ลบ</a>
            <br> ชื่อรูปที่อัปโหลด4 ...
            <a href="">ลบ</a>
            <br>
            <!-- upload -->
            <br>
            <input type="submit" value="เพิ่มอัลบั้ม">
          </form>
        </div>
        <div id="edit-gallery">
          <!-- edit -->
        </div>
        <div id="upload-gallery">
          <!-- upload -->
        </div>
      </div>
      <hr>
      <!-- end gallery side -->
      

    <!-- </div> -->
  
