<br>
<br>
<br>
<br>
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-2">
      <links>
        <div style="text-align: right" class="navbar-nav">
          <a class="nav-item nav-link active waves-light" href="#" mdbWavesEffect>ทั่วไป
            <span class="sr-only">(current)</span>
          </a>
          <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect>บุคลากรในหมู่บ้าน</a>
          <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect>รูปภาพ</a>
          <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect>สินค้า OTOP</a>
        </div>
      </links>
    </div>
    <div class="col-7">
      <!-- <p>general side</p> -->
      <div id="genaral">
        <div id="history-edit-block">
          <form action="#">
            <fieldset>
              <legend>ประวัติหมู่บ้าน</legend>
              <div class="md-form">
                  <textarea mdbInputDirective type="text" id="form7" class="md-textarea form-control" rows="10" ></textarea>
                  <label for="form7">กรอกข้อมูลหมู่บ้าน</label>
              </div>
              <button type="submit" class="btn green" mdbWavesEffect>บันทึก</button>
            </fieldset>
          </form>
        </div>
      </div>
      <hr>
      <!-- end general side -->
      <div id="people">
        <!-- <p>people side</p> -->

        <div id="adding-people">
          <form action="#">
            <fieldset>
              <legend>เพิ่มบุคลากร</legend>
              <input type="text" placeholder="ชื่อ">
              <input type="text" placeholder="สกุล">
              <input type="text" placeholder="ตำแหน่ง">
              <input type="text" placeholder="เบอร์ติดต่อ">
              <input type="submit" value="เพิ่ม">

            </fieldset>
          </form>
        </div>

        <div id="remove-people">
          <form action="#">
            <fieldset>
              <legend>แสดงรายชื่อบุคลากร</legend>
              ค้นหาชื่อ :
              <input type="text" placeholder="ชื่อ">
              <input type="submit" value="ค้นหา">
              <app-user></app-user>
            </fieldset>
          </form>
        </div>
      </div>
      <hr>
      <!-- end people side -->
      <div id="gallery">
        <!-- <p>gallery side</p> -->

        <div id="all-gallery">
          <form action="#">
            <fieldset>
              <legend>แสดงอัลบั้มรูปทั้งหมด</legend>
              อัลบั้ม 1
              <br> อัลบั้ม 2
              <br> อัลบั้ม 3
              <br> อัลบั้ม 4
              <br>
            </fieldset>
          </form>
        </div>
        <div id="new-gallery">
          <form action="#">
            <fieldset>
              <legend>สร้างอัลบั้มใหม่</legend>
              ชื่ออัลบั้ม :
              <input type="text" placeholder="ชื่ออัลบั้ม">
              <br>
              <textarea name="" id="" cols="50" rows="5" placeholder="เกี่ยวกับอัลบั้ม"></textarea>
            </fieldset>
            ชื่อรูปที่อัปโหลด1 ...
            <a href="">ลบ</a>
            <br> ชื่อรูปที่อัปโหลด2 ...
            <a href="">ลบ</a>
            <br> ชื่อรูปที่อัปโหลด3 ...
            <a href="">ลบ</a>
            <br> ชื่อรูปที่อัปโหลด4 ...
            <a href="">ลบ</a>
            <br>
            <!-- upload -->
            <br>
            <input type="submit" value="เพิ่มอัลบั้ม">
          </form>
        </div>
        <div id="edit-gallery">
          <!-- edit -->
        </div>
        <div id="upload-gallery">
          <!-- upload -->
        </div>
      </div>
      <hr>
      <!-- end gallery side -->
      <div id="otop">
        <!-- <p>otop side</p> -->

        <form action="#">
          <fieldset>
            <legend>รายการสินค้า otop ในหมู่บ้าน</legend>
            สินค้า1...
            <a href="">แก้ไข</a>
            <a href="">ลบ</a>
            <br>
            <!-- แก้ไขชื่อสินค้า รูป ราคา ข้อมูลติดต่อ -->
            สินค้า2...
            <a href="">แก้ไข</a>
            <a href="">ลบ</a>
            <br> สินค้า3...
            <a href="">แก้ไข</a>
            <a href="">ลบ</a>
            <br> สินค้า4...
            <a href="">แก้ไข</a>
            <a href="">ลบ</a>
            <br>
          </fieldset>
          <a id="always-top" href="#genaral">always on top</a>
        </form>

      </div>

    </div>
    <div class="col-2">
    </div>
  </div>
