<div id="genaral">
    <div id="history-edit-block">
      <form action="#">
        <fieldset>
          <legend>ประวัติหมู่บ้าน</legend>
          <div class="md-form">
              <textarea mdbInputDirective type="text" id="form7" class="md-textarea form-control" rows="10" ></textarea>
              <label for="form7">กรอกข้อมูลหมู่บ้าน</label>
          </div>
          <button type="submit" class="btn green" mdbWavesEffect>บันทึก</button>
        </fieldset>
      </form>
    </div>
  </div>
  <hr>