<dash></dash>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <form class="form-inline">
      <button mat-icon-button>
          <i class="fas fa-user-circle" ></i>
        </button>
  </form>
</nav>
<div style="text-align: center;">
  
  <button class="bttn-stretch bttn-md bttn-primary" >INSITE</button>
</div>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form>