<div class="container">
  <br>
  <div class="row">
    <div class="col-10">
      <h1>รูปภาพ</h1>
      <hr>
      <mat-grid-list cols="4">
        <div *ngFor="let gall of gallery">
          <mat-grid-tile>
            <mat-card>
              <h6>{{gall.name}}</h6>
              <a [routerLink]="['/mynav/photoall/', gall.id]">
                <img class="img-fluid img-thumbnail" src={{gall.images[0].url}} alt="" width='150px'>
              </a>
            </mat-card>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>

