<head>

</head>

<body>
  <div class="container">
    <br>
    <div class="row">
      <div class="col-10">
        <h1>ตารางกิจกรรม</h1>
        <hr>
        <div class="col-12" id="table-size">
          <table>
            <th>กิจกรรม</th>
            <th>วันที่โพส</th>
            <th>วันที่กิจกรรม</th>
            <tr>
              <td>เดินสวนสนาม</td>
              <td>18-มกรายน-5230</td>
              <td>20-มกรายน-5230</td>
            </tr>
            <tr>
              <td>เดินสวนสนาม</td>
              <td>18-มกรายน-5230</td>
              <td>20-มกรายน-5230</td>
            </tr>
            <tr>
              <td>เดินสวนสนาม</td>
              <td>18-มกรายน-5230</td>
              <td>20-มกรายน-5230</td>
            </tr>
            <tr>
              <td>เดินสวนสนาม</td>
              <td>18-มกรายน-5230</td>
              <td>20-มกรายน-5230</td>
            </tr>
            <tr>
              <td>เดินสวนสนาม</td>
              <td>18-มกรายน-5230</td>
              <td>20-มกรายน-5230</td>
            </tr>
            <tr>
              <td>เดินสวนสนาม</td>
              <td>18-มกรายน-5230</td>
              <td>20-มกรายน-5230</td>
            </tr>
            <tr>
              <td>เดินสวนสนาม</td>
              <td>18-มกรายน-5230</td>
              <td>20-มกรายน-5230</td>
            </tr>
            <tr>
              <td>เดินสวนสนาม</td>
              <td>18-มกรายน-5230</td>
              <td>20-มกรายน-5230</td>
            </tr>
          </table>
          <hr>
        </div>
      
      </div>
    </div>

    <!-- post side -->

  </div>
</body>
