<body>
  <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">บ้านศรีไคออก</a>
  <form class="form-inline">
      <button mat-icon-button routerLink='/mynavbe'>
          <i class="fas fa-user-circle" ></i>
        </button>
  </form>
</nav>
<div style="text-align: center;margin-top: 5%; margin-bottom: 2%">
  <img src="http://img.tnews.co.th/userfiles/images/king10_small-size-square.jpg" alt="">
</div>
<div style="text-align: center; ">
  <button class="bttn-jelly bttn-md bttn-primary" routerLink='/mynav'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เข้าสู้เว็บไซต์&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
</div>
</body>