<mat-card class="example-card" >
    <form class="example-form" >             
      <h3>กิจกรรม
        <span class="label label-default">New</span>
      </h3>


      <!-- วันที่กิจโพสต์ -->
      <mat-card-content >
          <input matInput [matDatepicker]="picker1" placeholder="Angular forms" [formControl]="date">

        </mat-card-content>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

      <!-- วันที่กิจกรรม -->
      <span> &nbsp;</span>


      <br>
      <div>
        <mat-card-content>
                <p>
                  ไปเดินป่า หาลิงสีชมพู
                </p>
        </mat-card-content>
      </div>

      <div class="button-row">
        <button mat-raised-button color="accent">like</button>
      </div>
    </form>
  </mat-card>